.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #504F4F;
    color: white;
    z-index: 2;
    top: 0;
    left: 0;
  }
  
  .logos {
    font-size: 24px;
    font-weight: bold;
  }
  
  .search-container {
    flex: 1;
    margin: 0 20px;
    justify-content: center;
    display: flex
;
}
  
.search-input {
    width: 45%;
    padding: 10px 8px;
    border-radius: 5px;
    border: none;
    background-color: #ffff;
    color: #000;
}
  .search-input::placeholder {
    color: #a0aec0;
  }
  
  .header-icons {
    display: flex;
    align-items: center;
  }
  
  .icons {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icons:hover{
    border-radius: 50%;
    background-color: #6e6e6e;
  }
  
  .profile {
    margin-right: 10px;
  }
  
  .profile-avatar {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    overflow: hidden;
}
  .logo-title{
    color: #fff;
    text-decoration: none;
  }
.profilepic{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.search-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 429px;
  max-height: 250px;
  overflow-y: auto;
  z-index: 10;
  top: 63px;
  left: 377px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.search-user-item {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 10px;
  cursor: pointer;
}

.search-user-item:hover {
  background-color: #f0f0f0;
}

.search-user-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
