.post-headers {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
  }
  .header-section{
    z-index: 2;
  }

  .avatars {
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}
.comment-input-section {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 10px;
    background-color: white;
    border-top: 1px solid #ddd;
}

.comment-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.send-btn {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.send-btn:hover {
    background-color: #45a049;
}
.profile-containers {
    background: white;
    padding: 0 20px;
    text-align: center;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .posts {
    margin: 20px 0;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
  }
  